{% comment %}
product: required on non-product pages, snippets only have access to globally available variables
  by default. If the product variable is defined locally, for example inside a for each product in
  a collection, the snippet will not have access to the product variable unless explicitly passed.

form_id: required when skio plan picker is not nested inside a form

key: optional passed in for uniqueness, defaults to product.id

start_onetime: optional to choose initial selection, defaults to true

onetime_first: optional to choose order of onetime vs subs, defaults to true

discount_format: optional, values could be 'percent' or 'absolute', defaults to 'percent'

classes: optional to include classes, pass in a string to apply classes to top-level parent fieldset element

hidden: optional, when set to true will hide plan picker completely by adding class skio-hidden

radio_type: optional, 'circle' or 'square' defaults to 'circle'

Usage required: {% render 'skio-plan-picker' %}
Usage conditionally required: {% render 'skio-plan-picker', product: product, form_id: form_id %}
Usage optional: {% render 'skio-plan-picker', product: product, key: key, form_id: form_id, start_onetime: false, onetime_first: false, discount_format: 'absolute', classes: 'example-class', hidden: true, radio_type: 'square' %}
{% endcomment %}

{% if product.selling_plan_groups.size > 0 %}
  {% comment %} SCRIPT {% endcomment %}
  <script>
  (() => {  
    const selector = 'fieldset[skio-plan-picker]';
    const levels = 2;
    const goUp = ($el, levels) => {
      if (levels > 0) return goUp($el.parentElement, levels - 1);
      else return $el
    }

    // Only loads the script if a plan picker is on the page, and only once
    // the main element is hovered over. doesn't load multiple times if there is are multiple plan pickers.
    // Defer loading to reduce load impact
    if (window.skio_plan_picker_script_load === undefined) {
      window.skio_plan_picker_script_load = true;

      const script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = '{{ 'skio-plan-picker.js' | asset_url }}';

      window.SkioLoadJSAddListeners = () => {
        document.querySelectorAll(selector).forEach($el => {
          const $broader = goUp($el, levels);
          $broader.addEventListener('pointerdown', window.SkioLoadJS);
          $broader.addEventListener('pointermove', window.SkioLoadJS);
          $broader.addEventListener('focus', window.SkioLoadJS, { capture: true });
        });
      }

      window.SkioLoadJSRemoveListeners = () => {
        document.querySelectorAll(selector).forEach($el => {
          const $broader = goUp($el, levels);
          $broader.removeEventListener('pointerdown', window.SkioLoadJS);
          $broader.removeEventListener('pointermove', window.SkioLoadJS);
          $broader.removeEventListener('focus', window.SkioLoadJS, { capture: true });
        });
      }

      window.SkioLoadJS = (e) => {
        document.head.append(script);

        window.SkioLoadJSRemoveListeners();
      }
     
      window.addEventListener('DOMContentLoaded', () => window.SkioLoadJSAddListeners());
    }

    // Handling async load of skio-plan-picker.liquid
    if (window.SkioPlanPickerAutoInit) {
      window.SkioPlanPickerAutoInit();
    } else {
      window.SkioLoadJSAddListeners();
    }
  })()
  </script>

  {{ 'skio-plan-picker.css' | asset_url | stylesheet_tag }}

  {% liquid
    assign current_variant = product.selected_or_first_available_variant

    assign is_main_product = false
    if request.page_type == 'product'
      assign path_handle = request.path | split: '/' | last
      if path_handle == product.handle
        assign is_main_product = true
      endif
    endif

    unless key
      assign key = product.id
    endunless
    if start_onetime == nil
      assign start_onetime = true
    endif
    if product.requires_selling_plan
      assign start_onetime = false
    endif
    if product.selected_selling_plan
      assign start_onetime = false
    endif
    if onetime_first == nil
      assign onetime_first = true
    endif
    if discount_format == nil
      assign discount_format = 'percent'
    endif
    assign classes = classes
    if hidden == true
      assign hidden = 'skio-hidden'
    endif
  %}

  <fieldset class="skio-plan-picker {{ classes }}{{ hidden }}" skio-plan-picker="{{ key }}" skio-auto-init 
    skio-discount-format="{{ discount_format }}"
    {% if is_main_product %} skio-main-product {% endif %}
  >
    {% comment %} PRODUCT JSON {% endcomment %}
    <script type="text/json" skio-product-json>{{ product | json }}</script>

    {% comment %} SELLING PLAN {% endcomment %}
    {% liquid
      if product.selected_selling_plan
        assign selected_selling_plan = product.selected_selling_plan
      else
        assign selected_selling_plan = current_variant.selling_plan_allocations.first.selling_plan
      endif
    %}
    <input name="selling_plan" type="hidden" value="{% unless start_onetime %}{{ selected_selling_plan.id }}{% endunless %}" 
      {% if form_id %}form="{{ form_id }}"{% endif %}
    />

    {% liquid 	
      assign price_adjustment = selected_selling_plan.price_adjustments.first

      assign group = product.selling_plan_groups | where: 'id', selected_selling_plan.group_id | first

      if start_onetime == false and group.name == 'Subscription'
        case price_adjustment.value_type	
          when 'percentage'	
            assign discount_percent = price_adjustment.value | round
            assign discount_absolute = current_variant.price | times: price_adjustment.value | divided_by: 100.0	
          when 'fixed_amount'	
            assign discount_percent = price_adjustment.value | times: 1.0 | divided_by: current_variant.price | times: 100.0 | round
            assign discount_absolute = price_adjustment.value	
          when 'price'	
            assign discount_percent = current_variant.price | minus: price_adjustment.value | times: 1.0 | divided_by: current_variant.price | times: 100.0	| round
            assign discount_absolute = current_variant.price | minus: price_adjustment.value	
        endcase	
        if discount_percent == 0	
          assign discount_text = ''	
        elsif discount_format == 'percent' or discount_format == blank	
          assign discount_text = discount_percent | append: '%'	
        else	
          assign discount_text = discount_absolute | money	
        endif	
      endif	
    %}

    <input name="properties[Discount]" type="hidden" value="{{ discount_text }}" 
      {% if start_onetime or group.name != 'Subscription' %}disabled{% endif %}	
      {% if form_id %}form="{{ form_id }}"{% endif %}
    />

    {% comment %} Radio SVGs {% endcomment %}
    {% capture radio_svg %}
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        {% if radio_type == 'square' %}
          <rect width="20" height="20" x="2" y="2" stroke="currentColor" stroke-width="3" />
          <rect class="skio-radio" width="12" height="12" x="6" y="6" fill="currentColor" />
        {% else %}
          <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"></circle>
          <circle class="skio-radio" cx="12" cy="12" r="7" fill="currentColor"></circle>
        {% endif %}
      </svg>
    {% endcapture %}
    
    {% comment %} ONE TIME {% endcomment %}
    {% capture onetimeHTML %}
      {% unless product.requires_selling_plan %}
        <div class="skio-group-container skio-group-container--available{% if start_onetime %} skio-group-container--selected{% endif %}" skio-group-container>
          <input id="skio-one-time-{{ key }}" class="skio-group-input" name="skio-group-{{ key }}" 
            type="radio" value="" skio-one-time {% if start_onetime %}checked{% endif %}>
          <label class="skio-group-label" for="skio-one-time-{{ key }}">
            <div class="skio-group-topline">
              <div class="skio-radio__container">
                {{ radio_svg }}
              </div>
              One-time
              <div class="skio-price">
                <span skio-onetime-price>{{ current_variant.price | money }}</span>
              </div>
            </div>
          </label>
        </div>
      {% endunless %}
    {% endcapture %}

    {% comment %} SUBSCRIPTIONS {% endcomment %}
    {% capture subscriptionHTML %}
      {% assign firstSelected = false %}
      {% for group in product.selling_plan_groups %}
        {% comment %} TODO: replace with check for app_id {% endcomment %}
        {% if group.app_id == 'SKIO' %}
          {% comment %} SELLING PLAN GROUP {% endcomment %}
          {% liquid
            assign group_available = false
            for allocation in current_variant.selling_plan_allocations
              if allocation.selling_plan_group_id == group.id
                assign group_available = true
              endif
            endfor

            assign group_selected = false
            unless start_onetime
              if product.selected_selling_plan
                if group.selling_plan_selected
                  assign group_selected = true
                endif
              elsif firstSelected == false and group_available == true
                assign group_selected = true
                assign firstSelected = true
              endif
            endunless
          %}
          <div class="skio-group-container{%- if group_available %} skio-group-container--available{% endif -%}
            {%- if group_selected %} skio-group-container--selected{% endif %}" skio-group-container>
            <input id="skio-selling-plan-group-{{ forloop.index }}-{{ key }}" class="skio-group-input"
              name="skio-group-{{ key }}"
              type="radio" value="{{ group.id }}" {% if group_selected %}checked{% endif %}
              skio-selling-plan-group="{{ group.id }}">
            <label class="skio-group-label" for="skio-selling-plan-group-{{ forloop.index }}-{{ key }}">
              <div class="skio-group-topline">
                {% comment %} <div class="skio-radio__container">
                  {{ radio_svg }}
                </div> {% endcomment %}
                <div class="skio-group-title">
                  {%- if group.name == 'Subscription' -%}
                    Delivery frequency
                  {%- else -%}
                    Prepay
                  {%- endif -%}
  
                  {% comment %} 
                    Discount logic should match the logic in skio-plan-picker.js and probably 
                    should match skio-cart-label.liquid
                  {% endcomment %}
                  {% liquid 
                    for selling_plan in group.selling_plans
                      assign selected = false
                      if group.selling_plan_selected
                        if product.selected_selling_plan.id == selling_plan.id
                          assign selected = true
                        endif
                      elsif forloop.first
                        assign selected = true
                      endif
      
                      if selected
                        assign price_adjustment = selling_plan.price_adjustments.first
                        case price_adjustment.value_type
                          when 'percentage'
                            assign discount_percent = price_adjustment.value | round
                            assign discount_absolute = current_variant.price | times: price_adjustment.value | divided_by: 100.0
                          when 'fixed_amount'
                            assign discount_percent = price_adjustment.value | times: 1.0 | divided_by: current_variant.price | times: 100.0 | round
                            assign discount_absolute = price_adjustment.value
                          when 'price'
                            assign discount_percent = current_variant.price | minus: price_adjustment.value | times: 1.0 | divided_by: current_variant.price | times: 100.0 | round
                            assign discount_absolute = current_variant.price | minus: price_adjustment.value
                        endcase
                        if discount_percent == 0
                          assign discount_text = ''
                        elsif discount_format == 'percent' or discount_format == blank
                          assign discount_text = discount_percent | append: '%'
                        else
                          assign discount_text = discount_absolute | money
                        endif
      
                        assign price = current_variant.price | minus: discount_absolute
                      endif
                    endfor
                  %}
                  {% if group_selected %}
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      let $externalSubscription = document.querySelector('[skio-external-subscription-price]')
                      let $externalOnetime = document.querySelector('[skio-external-onetime-price]')
                      if ($externalSubscription) $externalSubscription.innerHTML = '{{ price | money }}'
                      if ($externalOnetime) $externalOnetime.innerHTML = '{{ current_variant.price | money }}'
                    })
                  </script>
                  {% endif %}
                  {% comment %} {% if group.name == 'Subscription' and discount_absolute > 0 %}
                    <span class="skio-save">Save <span skio-discount>{{ discount_text }}</span></span>
                  {% endif %} {% endcomment %}
                </div>
      
                {% comment %} <div class="skio-price">
                  <span skio-subscription-price>{{ price | money }}</span>
                </div> {% endcomment %}
              </div>
              <div class="skio-group-content">
                <select skio-selling-plans="{{ group.id }}" class="skio-frequency{% if group.selling_plans.size == 1 %} skio-frequency--one{% endif %}">
                  {% for plan in group.selling_plans %}
                    {% liquid 
                      assign selected = false
                      if product.selected_selling_plan
                        if product.selected_selling_plan.id == plan.id
                          assign selected = true
                        endif
                      elsif forloop.first
                        assign selected = true
                      endif
                    %}
                    <option value="{{ plan.id }}" {% if selected %}selected{% endif %}>
                      {% if group.name == 'Subscription' %}
                        {{ plan.options[0].value | downcase }}
                      {% else %}
                        {{ plan.options[0].value }}
                      {% endif %}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </label>
          </div>
        {% endif %}
      {% endfor %}
    {% endcapture %}

    {% if onetime_first == true %}
      {{ onetimeHTML }}
      {{ subscriptionHTML }}
    {% else %}
      {{ subscriptionHTML }}
      {{ onetimeHTML }}
    {% endif %}

    {% comment %} {% render 'skio-details' %} {% endcomment %}
  </fieldset>
{% else %}
  <!-- Skio Plan Picker: No selling plans groups on this product -->
{% endif %}
